
		<style>
			.imageContainer{
				position: relative;
				display: inline-block;
				width: 300px;
				height: 300px;
				border: 1px solid black;
			}
			.imageContainer img {
				max-width: 100%;
				max-height: 100%;
			}
		</style>
	</head>


		<title>Hello from Flask</title>
		{% if name %}
		  <h1>Hello {{ name }}!</h1>
		{% else %}
		  <h1>Do these images show the same person?</h1>
		{% endif %}


<form method="POST" action="/vote">
		<input type="hidden" name="selfieID" value="{{selfieID}}" />
		<input type="hidden" name="imageID" value="{{imageID}}" />


		<input type="submit" name="vote" value="yes" />
		<input type="submit" name="vote" value="no" />
	</form>






	<body>


  	{% for imageID, selfieID, imageURL, selfieURL in imageset %}
			


		<div id="imagescontainer">

			<div class="imageContainer">
				<img id="selfieImg" src="{{ selfieURL }}" />
			</div>

			<div class="imageContainer">
				<img id="comparisonImg" src="{{ imageURL }}" />
			</div>

		</div>
				


	{% else %}
    		<li><em>Nothing to tag, but its not your fault! Use code SG16 to complete the job, and we will still pay you. Thanks!</em>
  	{% endfor %}


	</body>
</html>
